:root {
  --primary: white;
  --primary5: rgba(255, 255, 255, 0.5);
  --secondary: black;
  --blue: rgb(47, 86, 230);
  --blue5: rgba(47, 86, 230, 0.5);
  --blue25: rgba(47, 86, 230, 0.25);
  --orange: rgb(241, 164, 17);
  --orange5: rgb(239, 192, 105);
}

body {
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../public/images/background.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
}

p {
  color: var(--primary);
}

.noMargin {
  margin: 0;
}

/* header/navigation */
.logo {
  width: 60px;
  margin-top: 15px;
  transition: 0.5s;
}

.logo:hover {
  width: 75px;
}

a:link {
  text-decoration: none;
}

.navLink {
  color: var(--primary);
}

.navLink:hover {
  color: var(--orange);
}

/* landing page */
.landingImage {
  width: 100%;
  position: relative;
  top: -50px;
  z-index: -1;
}

.landingText {
  font-style: italic;
  font-weight: 300;
  position: relative;
  top: -50px;
}

.landingLink {
  margin-bottom: 150px;
  position: relative;
  top: -50px;
}

/* profile page */
.userImage {
  width: 100px;
  border-radius: 25px;
}

.username {
  color: var(--orange);
  font-size: 25px;
}

.description {
  font-size: 16px;
}

.userContact {
  font-size: 12px;
  font-style: italic;
}

/* vendor search list */
.searchLabel {
  color: var(--primary);
}

.searchInput {
  color: var(--orange);
  border-radius: 10px;
  background-color: var(--secondary);
}

.magBtn {
  color: var(--primary);
  position: relative;
  left: -40px;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.vendorTitle {
  margin: 0 30px;
  padding: 10px;
  background-color: var(--blue5);
  color: var(--primary);
}

.vendorItems {
  background-color: var(--blue25);
}

.listBg {
  background-color: var(--primary5);
}

.shopName {
  padding-top: 10px;
  color: var(--blue);
}

.shopName:hover {
  color: var(--orange);
}

.vendorName {
  font-size: 15px;
}

.clientNumber {
  font-size: 15px;
}

.createdAt {
  font-size: 10px;
}

/* footer */
.contact {
  font-size: 13px;
  margin-bottom: 10px;
  border-top: var(--orange) solid 1px;
  border-bottom: var(--orange) solid 1px;
}

.emblem {
  height: 50%;
}
